.MainSlider {
    position: relative;
    margin: 50px auto;
    width: 1200px;
}

.SubSlider {
    position: relative;
    width: 1000px;
    margin: auto;
}

.SliderContainer {
    margin: 0;
    padding: 0;
}

.SliderContainer li {
    list-style: none;
    text-align: center;
    width: 269px;
    height: 300px;
    padding-right:10px;

}
/*ul li span {
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        height: 100px;
        background: black;
        }*/
.slider-arrow {
    position: absolute;
    margin-top: 100px;
    top: 40px;
    width: 20px;
    height: 20px;
    /*background: red;*/
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.sa-left {
    left: 0px;
}

.sa-right {
    right: 0px;
}
